/* Set the width of the scrollbar */
::-webkit-scrollbar {
  width: 4px;
  display: none;
}

/* Background color of the scrollbar track */
::-webkit-scrollbar-track {
  background: rgb(250, 250, 250);
}

/* Background color of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  /* background: rgb(240, 240, 240); */
  background: rgba(249, 115, 22, 0.15);
  transition: all 1s ease; /* Add transition effect */
  border-radius: 12px;
}

/* Background color of the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(163, 163, 163);
  background: rgba(249, 115, 22, 0.8);
}
